# Ignore MySQL socket files
# Ignorer le dossier contenant la base MySQL
db/

# Ignorer les fichiers temporaires de Docker
docker-compose.override.yml
*.pid
*.log

# Ignorer les fichiers SQL temporaires (mais garder les exports)
*.sql~

# Ingorer les fichiers lier a Bootstrap
assets/css
assets/fonts